
body {font-family: 'Cormorant Garamond', serif;}
* {box-sizing: border-box;}


input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-boxa;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;

}

.container {
    width:50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
