* {
    text-decoration: none;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    width: 100%;
    height: 100px;

}


form.example input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #fff;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f2f2f2;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}


form.example button:hover {
    background: #f5f5f5;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

header .header-brand {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;

}

header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40;
        border-right: 3px solid #111;
        float: left;

    }

    header nav ul {
        margin: 20px 0 0 20px;
        float: left;
    }




    header nav ul li a {
        line-height: 60px;

    }

    header .header-cases {
        display: block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}


/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(..//image/ford.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;

}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.index-banner h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}

.index-banner h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;

}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .index-banner {
        height: 450px;

    }

    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;

    }

    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important;
    }

    .index-boxlink-rectagle {
        width: calc(50% - 20px) !important;
    }

    .index-links div h3 {
        line-height: 230px;
    }
}



/*FOOTER*/
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;

}

footer ul li a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}

.footer-links-cases {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}


@media only screen and (min-width: 1000px) {
    .footer-links-cases {
        display: block;
    }

    footer ul {
        padding-right: 30px;
    }

    footer ul li p {
        font-family: 'Cormorant Garamond', serif;
        font-size: 24px;
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
    }
}
