<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Ratai</title>
   <link rel="stylesheet" href="css/style.css">
</head>

<body>

   <html>

   <head>
      <title>Ratai</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='css/grid.css' type='text/css' />
      <link rel='stylesheet' href='css/main.css' type='text/css' />
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="js/app.js"></script>
   </head>

   <body data-ng-app="myApp">

      <!-- <header>
      </header> -->

      <section data-ng-controller="myCtrl">
         <div class="container">

            <div class="col-md-12">
               <div class="row clearfix">

                  <div class="col-md-9 col-sm-9 col-xs-6 ">
                     <div class="row clearfix">
                        <h1>Wheels</h1>
                     </div>
                  </div>

                  <div class="col-md-3 col-sm-3 col-xs-6 pull-right">
                     <div class="row clearfix">
                        <h3 class="click-cart"> Cart (<span>{{cartNumber}}</span>) </h3>

                        <div class="cart-out">
                           <div class="cart-out1">
                              <div class="cart-imgs clearfix" data-ng-repeat="cart in cartItems">
                                 <div class="col-md-4">
                                    <img ng-src="{{cart.product_image}}" alt="" />
                                 </div>
                                 <div class="col-md-6">
                                    <h6>{{cart.product_name}}</h6>
                                    <p> EUR <span>{{cart.product_price}}</span></p>
                                 </div>
                                 <div class="col-md-2">
                                    <button data-ng-click="removeCart($index)"> X </button>
                                 </div>
                              </div>
                           </div>
                           <h3> Total: <span>{{cartTotal()}}</span> </h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-md-12">
               <div class="row clearfix">

                  <div class="col-md-3 col-sm-3  col-xs-6 product-imgs" data-ng-repeat="product in productsList">
                     <img ng-src="{{product.product_image}}" alt="" />
                     <h4>{{product.product_name}}</h4>
                     <p> EUR. <span>{{product.product_price}}</span></p>
                     <button data-ng-click="addTocart($index)" data-ng-disabled="product.product_disable"> {{product.product_button}} </button>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>
         jQuery(".cart-out").hide();
         jQuery(".click-cart").click(function() {
            jQuery(".cart-out").slideToggle();
         });
      </script>

      <script src="js/index.js"></script>

   </body>

   </html>
